.project_dialog__title {
  margin: 0;
  padding: 1.5rem;
}

.project_dialog__closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.project_dialog__description,
.project_dialog__heading,
.project_dialog__root,
.project_dialog__contribution_list_item {
  color: #444;
  font-family: 'Poppins' !important;
}

.project_dialog__tech {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
}

.project_dialog__tech p {
  color: var(--clr-primary);
  margin-right: 1rem;
}

.project_dialog__description {
  margin-bottom: 1rem !important;
}

.project_dialog__image_container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.project_dialog__image {
  width: 75%;
  height: auto;
  padding: 0;
  margin: 0;
}

.project_dialog__contribution_list {
  list-style-type: circle;
  margin-left: 1rem;
}
